<div class="package-card">
  <div class="header">
    <h2>Packages</h2>

    <button class="add-btn" (click)="openAddDialog()">+ Add Package</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Package Name</th>
        <th>Destination</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of packages">
        <td>{{ p.id }}</td>
        <td>{{ p.package_name }}</td>
        <td>{{ p.destination }}</td>
        <td>₹{{ p.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
