* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.table-section {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.table-header {
  margin-bottom: 20px;
}

.table-header h2 {
  color: #0f172a;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background: #f8fafc;
}

table th,
table td {
  padding: 15px;
  text-align: left;
}

table tr {
  border-bottom: 1px solid #e2e8f0;
}

.success {
  background: #dcfce7;
  color: #166534;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.pending {
  background: #fef3c7;
  color: #92400e;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
}
.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f1f5f9;
}

.dashboard .logo {
  text-align: center;
  margin-bottom: 40px;
}

.dashboard .logo h2 {
  font-size: 28px;
  color: #38bdf8;
}

.dashboard-sidebar {
  width: 260px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.dashboard-sidebar-menu {
  list-style: none;
}

.dashboard-sidebar-menu li {
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard-sidebar-menu li:hover,
.dashboard-sidebar-menu li.active {
  background: #1e293b;
}

.dashboard-sidebar-menu li span {
  margin-right: 10px;
}

.dashboard-main-content {
  flex: 1;
  padding: 30px;
}

.dashboard-main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-main-content-header h1 {
  color: #0f172a;
}

.dashboard-main-content-header p {
  color: #64748b;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.admin-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.dashboard-main-content-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}

.dashboard-main-content-cards .card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.dashboard-main-content-cards .card h2 {
  text-align: center;
  font-size: 34px;
  color: #2563eb;
  margin-bottom: 10px;
}

.dashboard-main-content-cards .card p {
  text-align: center;
  color: #64748b;
  font-size: 15px;
}

.dashboard-main-content-cards .card:hover {
  transform: translateY(-5px);
}
