<div class="dashboard">
  <!-- SIDEBAR -->

  <div class="dashboard-sidebar">
    <div class="logo">
      <h2>Travel Admin</h2>
    </div>

    <ul class="dashboard-sidebar-menu">
      <li class="active"><span>🏠</span> Dashboard</li>

      <li (click)="tour()"><span>✈️</span> Tours</li>

      <li (click)="package()"><span>📦</span> Packages</li>

      <li><span>🏨</span> Hotels</li>

      <li><span>📋</span> Bookings</li>

      <li (click)="users()"><span>👤</span> Users</li>

      <li (click)="inquiries()"><span>📩</span> Inquiries</li>

      <li (click)="logout()"><span>🚪</span> Logout</li>
    </ul>
  </div>

  <!-- MAIN CONTENT -->

  <div class="dashboard-main-content">
    <!-- HEADER -->

    <div class="dashboard-main-content-header">
      <div>
        <h1>Dashboard</h1>
        <p>Welcome Back Admin 👋</p>
      </div>

      <div class="admin-profile">
        <img src="https://i.pravatar.cc/40" alt="" />

        <div>
          <h4>Admin</h4>
          <p>Administrator</p>
        </div>
      </div>
    </div>

    <!-- CARDS -->

    <div class="dashboard-main-content-cards">
      <div class="card">
        <h2>{{ dashboardCounts.totalTours }}</h2>
        <p>Total Tours</p>
      </div>

      <div class="card">
        <h2>{{ dashboardCounts.totalPackages }}</h2>
        <p>Total Packages</p>
      </div>

      <div class="card">
        <h2>{{ dashboardCounts.totalUsers }}</h2>
        <p>Total Users</p>
      </div>

      <div class="card">
        <h2>{{ dashboardCounts.totalInquiries }}</h2>
        <p>Total Inquiries</p>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
